.BookList {
    height: 75%;
    width: 30%;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.Book {
    height: 115px;
    width: 103.2px;
    background-color: #fff;
    text-align: center;
    margin-top: 20px;
    z-index: 0.5;
}

.Book a {
    color: black;
    text-decoration: none;
}

.Book img {
    position: relative;
    top: 0;
    width: 103.2px;
    height: 115px;
    object-fit: cover;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.236);
}

.b0, .b1, .b2, .b3 {
    margin-top: 29px;
}

.b4, .b5, .b6, .b7 {
    margin-bottom: 10px;
}

.b8, .b9, .b10, .b11 {
    margin-top: 5px;
}

.b12, .b13, .b14, .b15 {
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .BookList {
        width: 70px;
        height: 100px;
        position: relative;
        left: -180px;
        bottom: 30px;
    }

    .Book img {
        box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.236);
    }

    
    .b0, .b1, .b2, .b3 {
        margin-top: 56px;
    }

    .b4, .b5, .b6, .b7 {
        margin-bottom: 15px;
    }

    .b8, .b9, .b10, .b11 {
        margin-top: 5px;
    }

    .b12, .b13, .b14, .b15 {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .BookList {
        width: 40px;
        height: 80px;
        position: relative;
        left: -210px;
        bottom: 30px;
    }
    
    .b0, .b1, .b2, .b3 {
        margin-top: 43px;
    }

    .b4, .b5, .b6, .b7 {
        margin-top: 5px;
    }

    .b8, .b9, .b10, .b11 {
        margin-top: -5px;
    }

    .b12, .b13, .b14, .b15 {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .BookList {
        width: 10px;
        height: 30px;
        position: relative;
        left: -210px;
        bottom: 30px;
    }

    .Book {
        height: 70px;
        width: 50px;
        margin-top: 20px;
        position: relative;
        left: 5.5rem;
        top: 6rem;
        font-size: 0.6rem;
    }

    .Book img {
        position: relative;
        top: 0;
        width: 50px;
        height: 70px;
        object-fit: cover;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.236);
    }
    
    .b0, .b1, .b2, .b3 {
        margin-top: 40px;
    }

    .b4, .b5, .b6, .b7 {
        margin-top: 18px;
    }

    .b8, .b9, .b10, .b11 {
        margin-top: -5px;
    }

    .b12, .b13, .b14, .b15 {
        margin-top: 10px;
    }
}