.backbtn, .forwardbtn {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    text-align: center;
    border: none;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.236);;
}

.backbtn {
    position: relative;
    top: -15rem;
    left: 5rem;
}

.forwardbtn {
    position: relative;
    top: -15rem;
    right: -80rem;
}


@media (max-width: 1200px) {
    .backbtn {
        position: relative;
        top: 7rem;
        left: 5rem;
    }
    
    .forwardbtn {
        position: relative;
        top: 7rem;
        left: 50rem;
    }
}

@media (max-width: 768px) {
    .backbtn {
        position: relative;
        top: 7rem;
        left: 3.5rem;
    }
    
    .forwardbtn {
        position: relative;
        top: 7rem;
        left: 33.5rem;
    }
}

@media (max-width: 480px) {
    .backbtn {
        height: 4rem;
        width: 4rem;
        position: relative;
        top: 12rem;
        left: 2rem;
    }
    
    .forwardbtn {
        height: 4rem;
        width: 4rem;
        position: relative;
        top: 12rem;
        left: 20rem;
    }
}